extends layout

block head
  link(rel='stylesheet', href='/stylesheets/dashboard.css')
  script(src='/feather/feather.min.js')

block content
  nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
    a.navbar-brand.col-sm-3.col-md-2.mr-0(href='#') Qdio Dashboard
    ul.navbar-nav.px-3
      li.nav-item.text-nowrap
        a.nav-link(href='#') Sign out

  .container-fluid
    .row
      nav.col-md-2.d-none.d-md-block.bg-light.sidebar
        .sidebar-sticky
          ul.nav.flex-column
            - var link = {text: 'Dashboard', feather: 'home', href: '/dashboard/home/'}
            include dashboard-link

  main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
      block dashboard-content

  script feather.replace()
